<div id="client-grid">

    <div class="container">
        <div class="row">
            <span class="col-4"><label>Id </label></span> <label>{{selected.id}}</label>
        </div>
        <div class="row">
            <span class="col-4"><label>Name </label></span><input type="text" ng-model="selected.name">
        </div>
        <div class="row">
            <span class="col-4"><label>Surname </label></span><input type="text" ng-model="selected.surname">
        </div>
        <div class="row">
            <span class="col-4"><label>Company name </label></span><input type="text" ng-model="selected.companyName">
        </div>
        <div class="row">
            <span class="col-4"><label>Address </label></span><input type="text" ng-model="selected.adress">
        </div>
        <div class="row">
            <span class="col-4"><label>Phone </label></span><input type="text" ng-model="selected.phone">
        </div>
        <div class="row">
            <span class="col-4"><label>Email </label></span><input type="text" ng-model="selected.email">
        </div>
        <button ng-click="selected={}">New</button>
        <button ng-click="save(selected)">Save</button>
        <button ng-click="delete(selected)">Delete</button>
    </div>

    <div ui-grid="myOptions" ui-grid-selection ui-grid-auto-resize>

    </div>


</div>